body{
  background-color: #f5f5f5;
}
/* NavNar */

.links {
  display: flex;
  gap: 20px; 

}
.nav-link {
  color: black;
  text-decoration: none;
  cursor:pointer;
}

/* Home css */

.home-ciontainer{
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  
}

.category-container{
  text-align: center;
  margin-top: 100px;
}

.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.background-image{
  background-image: url(./image/black-forest-cuo-cake.jpg);
  max-width: 1300px;
  height: 1000px;
  background-size: cover;
  border-radius: 20px;
}
/* @media only screen and (max-width: 600px) {
  .background-image{
    max-width: 300px;
    padding: 20px;
    display: flex;
    text-align: center;
  }
} */
/* categories */
.category-images{
  width: 300px;
  height: 400px;
  border-radius: 20px ;
}

/* Footer */

.footer{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 0px; */
  max-width: 1500px;
  justify-content: space-between;
  padding: 20px;
  /* background-color: aqua; */
  /* padding-left: 20px; */
}
@media only screen and (max-width: 600px) {
  .footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}


.links{
  text-decoration: none;
  color: black;
}

.links:hover{
  background-color:rgb(234, 225, 210);
}


.about-background{
  background-image: url(./image/types-of-cake-18-jpg.jpg);
  height: 700px;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.infor-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-top: 9rem;
}

.offers-container{
  margin: 200px auto 0 auto;
  text-align: center;
}

.offer-item{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.offer1{
  background-image: url(./image/offer-cake-1.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  align-items: flex-end;
}
.offer2{
  background-image: url(./image/offer-cake-2.jpeg);
  background-size: cover;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}

/* contact css */
.contact-background{
  background-image: url(./image/contact-us.jpg);
  height: 700px;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* whatsapp button */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; 
  color: white;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: #128c7e; 
}

/* social mediaIcons */
.social-media-icons {
  display: flex;
  justify-content: center; /* Centers the icons horizontally */
  align-items: center;
  gap: 20px; /* Adds space between icons */
}

.icon {
  color: #555; /* Default color */
  transition: color 0.3s ease; /* Smooth transition on hover */
  text-decoration: none;
}

.icon:hover {
  color: #000; /* Change color on hover */
}

.facebook {
  color: #3b5998;
}

.instagram {
  color: #e4405f;
}

.whatsapp {
  color: #25d366;
}

.icon:hover.facebook {
  color: #2d4373;
}

.icon:hover.instagram {
  color: #d62976;
}

.icon:hover.whatsapp {
  color: #128c7e;
}
